.noteIcons img {
    opacity: 0.61;
    width: 24px;
    height: 24px;
    margin: 0 9px;
    padding: 4px;
    cursor: pointer;
}

.noteIcons img:hover {
    background-color: rgba(95,99,104,0.157);
    border-radius: 50%;
}

.noteIcons {
    padding: 10px 0;
}