.nextBtn {
    background-color: #1a73e8;
    color: #fff !important;
    float: right;
}
.nextBtn:hover {
    box-shadow: 0 1px 2px 0 var(--gm-fillbutton-keyshadow-color,rgba(60,64,67,.3)),0 1px 3px 1px var(--gm-fillbutton-ambientshadow-color,rgba(60,64,67,.15));
    cursor: pointer;
}

.forgot_password {
    border: 1px solid #d5d1d1;
    padding: 50px 50px 100px 50px;
    margin: 50px;
    border-radius: 10px;
}
.fundooLogin h3 {
    font-size: 28px;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
}
.forgot_password h4 {
    font-size: 20px;
    color: #202124;
    text-align: center;
    font-weight: 400;
}
.forgot_password h5 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0; 
    text-align: center;
}