<div fxFlex=100 fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" class="forgot_password">
        <div class="fundooLogin">
            <h3>
                <span style="color:rgb(66, 133, 244)">F</span>
                <span style="color: rgb(234, 67, 53)">u</span>
                <span style="color:rgb(251, 188, 5)">n</span>
                <span style="color:rgb(66, 133, 244)">d</span>
                <span style="color:rgb(52, 168, 83)">o</span>
                <span style="color:rgb(234, 67, 53)">o</span>
            </h3>
            <h4>Forgot Password</h4>
            <h5>Enter your email to recover password</h5>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


                <div class="emailTextbox">
                    <mat-form-field appearance="outline" class="userName" fxFlex=100>
                        <mat-label>Enter Email</mat-label>
                        <input matInput formControlName="email" placeholder=" ">
                    </mat-form-field>
                </div>

                <div class="nextBtnSection">
                    <button mat-button color="primary" class="nextBtn">Next</button>
                </div>

            </form>
        </div>
    </div>
</div>