.takeAnote {
    width: 45%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    border-radius: 8px;
    background: #fff;
    margin-top: 50px;
}
.takeAnote textarea { width: 100%; }

textarea {
    resize: none;
    white-space: nowrap;
    overflow-x: hidden; /* or hidden */
  }

.takeAnote .titleInput {
    padding: 14px 16px 12px 16px;
    height: 48px;
    font-size: 1rem;
    font-weight: 500;
    color: #202124;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 8px;
}
.takeAnote .noteDescription {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 14px 16px 12px 16px;
    font-size: .875rem;
    font-weight: 400;
}

.titleInput, .noteDescription textarea{
    width: 100%;
    border: none;
    outline: none;
}
.titleInputSection {position: relative;}
.titleImgSection {
    position: absolute;
    top: 15%;
    right: 1%;
    display: flex;
}
.titleImgSection img {
    opacity: 0.54;
    margin: 0 15px;
    padding: 5px;
    cursor: pointer;
}
.titleImgSection img:hover{
    background-color: rgba(95,99,104,0.157);
    border-radius: 50%;
}