.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  // Headers section style
  .header {
    background: rgba(255,255,255,1);
    box-shadow: inset 0 -1px 0 0 #dadce0;
    transition: box-shadow 250ms;
  }
  .header .fileImg {
    width: 40px; 
    height: 40px;
    padding: 0 10px;
  }
  .mat-icon-button {
    color: #5f6368;
  }
  .headerIcon, .closeIcon {
    color: #5f6368 !important;
    font-size: 24px;
  }
  .header h1 { font-size: 22px; }
  .header .searchbox {
    background-color: rgba(0,0,0,.06);
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 5px;
    padding-left: 50px;
    font-size: 16px;
  }
  header .searchbox:focus, input:focus{
    outline: none;
    background: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 5px;
}
  .searchIconBox {position: relative;}
  .searchIconBox .headerIcon {
    position: absolute;
    top: 30%;
    left: 2%;
    cursor: pointer;
  }
  .searchIconBox .closeIcon {
    position: absolute;
    top: 24%;
    right: 5%;
    cursor: pointer;
  }
  .header .refreshIcon, .header .viewStreamIcon, .header .settingdicon {padding: 10px; margin: 0 5px;}
  .refreshiconsection {margin-left: auto; cursor: pointer; padding-top: 7px;}

  .header .dpSection {margin-left: auto; display: flex;}
  .dpSection .dpImg img {
    height: 40px;
    width: 40px;
    background: #939393a8;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
  }
  .dpSection .appsIcon {padding: 10px; cursor: pointer;}

  .greyBg:hover{
    background-color: rgba(0, 0, 0, 0.06);  
    padding: 10px !important;
    border-radius: 50%;
  }

  .sideNavList {width: 230px;}
  .sideNavList a {
    height: 48px;
    color: #202124;
    font-size: 14px;
    font-weight: 500;
  }
  .sideNavList a:hover{
    border-radius: 0 25px 25px 0px;
  }
  .sideNavList .mat-icon {
    padding-right: 20px;
  }
  .sideNavList a:focus{
    background: #feefc3 !important;
    border-radius: 0 25px 25px 0px;
  }
  .refreshiconsection img{
    opacity: 0.51;
  }

  @media only screen and (max-width: 600px) {
    .refreshiconsection a, .dpSection .appsIcon {
       display: none;
    }
}