
<div fxLayout="row wrap"  class="displayOneNOte" fxFlex.xs=100  >
    <mat-card fxFlex.xs=100 *ngFor="let note of NotesArray | filter:searchword" class="noteBox" [style.background]="note.bgColor">
        <mat-card-content>
            <div (click)="openDialog(note)">
				{{note.title}}

                <a class="pinimage"> <img src="../../../assets/pin.svg"> </a>
			</div>
            <div class="displayDescription" (click)="openDialog(note)">
				{{note.description}}
			</div>
			
        </mat-card-content>
        <app-icons [noteCard]="note" (iconstodisplay)="recievefromiconstodisplaycard($event)" ></app-icons>
        <img src="../../../assets/blacktick.svg" class="blackTickImg">
    </mat-card>
</div>