.updateDialogBox {
    width: 90%;
    height: 80%;
    min-height: 125px;
    padding: 16px 16px 8px;
    border: none;
    border-radius: 10px;
    border-width : 0px;
    margin-bottom : 20px;
    margin: 10px 10px;
    // position: relative;
    box-shadow: none !important;    
}

.updateDialogBox input, .updateDialogBox textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 5px;
    border-radius: 10px;
}
.updateDialogBox textarea {
    resize: none;
    white-space: nowrap;
    overflow-x: hidden; /* or hidden */
  }